<h3>Downloads</h3>
<div class="media-list">
    <div class='media'>
        <a href="#" class='pull-left'><img src='http://placehold.it/64x64'></a>
        <div class='media-body'>
            <h4 class='media-heading'><a href="#">file1.stl</a></h4>
            <p>Lorem ipsum stuff that's the shizzle amet, pizzle adipiscing for sure.</p>
        </div>
    </div>
    <div class='media'>
        <a href="#" class='pull-left'><img src='http://placehold.it/64x64'></a>
        <div class='media-body'>
            <h4 class='media-heading'><a href="#">file2.stl</a></h4>
            <p>Lorem ipsum stuff that's the shizzle amet, pizzle adipiscing for sure.</p>
        </div>
    </div>
    <div class='media'>
        <a href="#" class='pull-left'><img src='http://placehold.it/64x64'></a>
        <div class='media-body'>
            <h4 class='media-heading'><a href="#">file3.stl</a></h4>
            <p>Lorem ipsum stuff that's the shizzle amet, pizzle adipiscing for sure.</p>
        </div>
    </div>
</div>