<div class='pull-right'>{{#linkTo "items.new"}}<i class="icon-plus-sign icon-white"></i>{{/linkTo}}</div>
<div class="spacer25"></div>
<ul class='thumbnails'>
    {{#each item in items}}
        <li class='span4'>
            <div class='thumbnail'>
                <img src='http://placehold.it/350x250'/>
            </div>
                {{#linkTo 'items.show' item}}<h3>{{item.name}}</h3>{{/linkTo}}
            <div class='item-description'>{{item.description}}</div>
        </li>
    {{/each}}
</ul>
