<div class='pull-right'>{{#linkTo "items.new"}}<i class="icon-plus-sign"></i>{{/linkTo}}</div>
<div class="spacer25"></div>
<ul class='thumbnails'>
    {{#each item in items}}
        <li class='span4'>
            <div class='thumbnail'>
                <img src='http://placehold.it/350x250'/>
            </div>
            <h3>{{item.name}}</h3>
            <div class='item-description'>{{item.description}}</div>
        </li>
    {{/each}}
</ul>
