<h1>{{name}}</h1>

<div>
    <p>{{description}}</p>
</div>

<div class='page-header'></div>

{{#linkTo "items.index" class="btn"}}Back{{/linkTo}}
{{#linkTo "items.edit" content class="btn btn-primary"}}Edit{{/linkTo}}