<div class='pull-left'><a href="http://www.twitter.com" class="social twitter"></a></div>
<div class='pull-left'><a href="http://www.facebook.com" class="social facebook"></a></div>
<div class='pull-left'><a href="http://plus.google.com" class="social google"></a></div>