<center>
    <div class='spacer20'></div>
    <div id="home_search">
        <img src='assets/logo.gif'/>
    </div>
    <form>
        <div class='spacer20'></div>
        <fieldset>
            <div>
                {{view Ember.TextField valueBinding="query" name="query" viewName="queryField"}}
            </div>
        </fieldset>
        <a href='#' {{action search}} class='btn btn-success'>Search</a>
    </form>
</center>
