<center>
    <div class='spacer20'></div>
    <div id="home-search">
        <img src='assets/logo.gif'/>
    </div>
    <!--<form>-->
        <!--<div class='spacer20'></div>-->
        <!--<div>Searching for {{query}}...</div>-->
        <!--<fieldset>-->
            <!--<div>-->
                <!--{{view Ember.TextField valueBinding="query" name="query" viewName="queryField"}}-->
            <!--</div>-->
        <!--</fieldset>-->
        <!--<a href='#' {{action search query}} class='btn btn-success'>Search</a>-->
    <!--</form>-->
</center>
