textarea
  resize: none

.media-object
  padding: 10px

.google
  background: url('google_32.png')

.twitter
  background: url('twitter_32.png')

.facebook
  background: url('facebook_32.png')

.social
  display: block
  overflow: hidden
  width: 32px
  height: 32px
  margin: 3px
  text-indent: -9000px
  &:hover
    background-position: 0px -32px
